* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #98A2A8;
}

header{
    text-align:right;
    margin: 10px 10px 0 0;
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: #333;
}

footer{
    text-align: center;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 1%;
    p{
        font-size: 12px;
    }
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .burger{
        text-decoration: none;
        font-size: 24px; 
        padding: 10px 20px;
        border-color: red;
        background-color: #111C1E;
        font-size: 28px;
        border-radius: 5px;
        cursor: pointer;
        
    }
    .indicator{
        display: flex;
        justify-content: space-between;
    }
    .circle1, .circle2, .circle3{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #41484E;
    }
    .circle1{
        background: #e65252;
    }
    .circle2{
        background: #dbdd68c7;
    }
    .circle3{
        background: #64da6a;
        box-shadow:0 0 25px #3eec3e;
    }
}

.burger_menu{
    display: none;
    position: absolute;
    right: 21.1%;
    z-index: 5;
    border: solid #41484E;
    background-color: #111C1E;
    width: 300px;
    text-align: right;
    .burger_content{
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        font-size: 22px;
        margin: 10px 15px 10px 0;
    }
}    

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #010B0C;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: solid #41484E;
    font-size: 24px;
    padding: 0 1% 0 1%;
}

.officer{
    display: flex;
    border: solid #41484E;
    background-color: #111C1E;
    justify-content: space-between;
    border-top:none;
    .leftoff{
        margin-left: 1%;
        font-size: 20px;
    }
    .rightoff{
        margin-right: 1%;
        p{
            font-size: 22px;
        }

    }
}

.task {
    display: flex;
    width: 100%;
    border: solid #41484E;
    border-top:none;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    .taskleft{
        width: 45%;
        img{
            width: 100%;
        }
    }
    .taskright{
        font-size: 24px;
        width: 54%;
        h1{
            text-align: center;
        }
        h2{
            font-size: 27px;
        }
    }
}

.under{
    padding: 15px 15px 15px 15px;
    border: solid #41484E;
    border-top:none;
    font-size: 32px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #41484E;
    font-size: 18px;
    background-color: #111C1E;
}

button {
    padding: 10px 20px;
    background-color: #111C1E;
    font-size: 28px;
    color: #98A2A8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 28px;
    color: #98A2A8;
}

.display{
    background-color: black;
    width: 100%;
    height: 500px;
    border: solid #41484E;
    border-top:none;
    text-align: center;
    button {
        background: none;
        font-size: 72px;
        margin-top: 170px;

    }
}

.gameZone{
    width: 100%;
    height: 100%;
    background-color: #010B0C;
    position: absolute;
    z-index: 5;
    top:0px;
    display: none;
    .screen{
        width: 80%;
        margin: 0 auto;
        height: 70%;
        background-color: #262626;
        display: flex;
        justify-content: center;
        img{
            margin-top: 5%;
            width: auto;
            max-height: 80%;
        }
        #characterImage, #backgroundImage{
            display: none;
        }
    }
    .textField {
        width: 100%;
        height: 30%;
        background-color: #111C1E;
        padding: 5px 5% 20px 5%;
        margin-bottom: 20px;
        color: #98A2A8;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        flex-direction: column;
        p{  
            color: #98A2A8;
        }
        #rules{
            display: none;
            margin: 0;
            padding: 0;
        }
        #arrowBtn{
            width: 100px;
            font-size: 20px;
            height: 50px;
            margin-left: 98%;
            border: 2px solid;
        }
        .choices{
            display: flex;
            justify-content: space-between;
            #choice1, #choice2{
                background-color: #394f53;
                display: none;
                width: 49%;
                margin: 0% auto;
            } 
        }
        .pass{
            display: flex;
            justify-content: space-between;
            #pwrd, #pwinp{
                display: none;
                width: 49%;
            }
        }
        .fight{
            display: flex;
            justify-content: space-between;
            button{
                margin-bottom: 20px;
                width: 32%;
                border: 2px solid;
            }
            .counter{
                display: flex;
                justify-content: space-between;
                margin-bottom: 70px;
            }
        }
    }
    #dialogue {
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 90%; 
        white-space: pre-wrap;
    }

    .choice-btn {
        margin-top: 10px;
    }

    #combatButton {
        display: none;
        width: 120px;
        margin: 0 auto;
        height: 120px;
        border-radius: 50%;
        background-color: #ff0000;
        color: black;
        font-size: 32px;
    }

}

#products-container {
    display: grid; /* Используем Grid Layout */
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* Автоматическое создание колонок */
    gap: 15px; /* Расстояние между карточками */
    padding: 10px;
    border: solid #41484E;
    background-color: #111C1E;
}

.product-card {
    border: solid #41484E;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #000000;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    background-color: #000000;
}

.findProduct{
    display: flex;
    #search-input{
        background-color: #000000;
        width: 100%;
        font-size: 22px;
        padding: 10px 0 10px 10px;
        margin-bottom: 0px;
    }
    #search-button{
        background-color: #000000;
        width: 20%;
        height: 50px;
        border: solid #41484E;
    }
}

.proco{
    background-color: #010B0C;
    margin-top: 0px;
    padding: 0px 0 10px 0px;
}

.batoni{
    display: flex;
    p{
        border-radius: 10px;
        padding: 7px;
        background-color: #111C1E;
        margin: 10px 15px 0px 0px;
    }
}
.filter{
    display: none;
}

.butInfo{
    margin-top: 10px;
}

.butInfo:hover{
    background-color: #1A2A2D;
}
#products-info {
    width: 60%; 
    background-color: #1a1a1a; 
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    padding: 100px 0 100px 0;
  }
  
  #productsClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1a1a1a;;
    color: #f5f5f5;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .productFlex {
    display: flex;
    gap: 20px;
  }
  
  .info-image-container {
    flex: 1;
    text-align: center;
  }
  
  .info-image {
    max-width: 100%; 
    border-radius: 10px;
    background-color: black;
    border: solid #41484E;
  }
  
  .info-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .info-title {
    font-size: 42px;
    margin: 0;
  }
  
  .info-price {
    font-size: 32px; 
    margin: 0;
  }
  
  .info-description {
    width: 90%;
    font-size: 24px;
    color: #e5e5e5;
  }

  #addProductForm{
    width: 30%; 
    background-color: #1a1a1a; 
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    padding: 100px 0 100px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        background-color: black;
    }
  }
  #addProductButton{
    background-color: black;
    border: solid #41484E;
}
.addProduct{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    button{
        background-color: black;
        border: solid #41484E;
    }
}
@media screen and (max-width: 980px) {
    .burger_menu{
        right: 10%;
    }
    .container {
        width: 90%;
    }
    .title{
        font-size: 12px;
    }
    .task {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .taskleft{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .taskright{
            font-size: 20px;
            width: 100%;
            h1{
                text-align: center;
            }
            h2{
                font-size: 24px;
            }
        }
    }
    .under{
        font-size: 24px;
    }
    button {
        font-size: 24px;
    }
    p {
        font-size: 24px;
    }
    .findProduct{
        display: flex;
        flex-direction: column;
        #search-input{
            width: 100%;
        }
        #search-button{
            width: 100%;
        }
    }
    .proco{
        width: 90%;
        p{
            font-size: 18px;
        }
    }
    .filter{
        display: block;
        border-radius: 10px;
        padding: 5px;
        background-color: #111C1E;
        width: 130px;
        margin: 10px 0px 0px 56%;
        p{
            padding: 0px 5px 0px 5px;
            margin-top: 0px;
        }
    }
    .batoni{
        display: none;
    }
    #products-info {
        width: 100%;
    }
    .productFlex{
        flex-direction: column;
        align-items: center
    }
    .info-image-container{
        width: 250px;
        margin-top: 20px;
    }
    #productsClose {
        top: 45px;
        right: 5px;
        font-size: 28px;
    }
    .info-title{
        text-align: center;
    }
    .info-price {
        text-align: center;
    }
    .info-description {
        width: 100%;
        font-size: 18px;
        margin-left: 5%;
    }
    #addProductForm {
        width: 70%;
        #productsClose {
            top: 15px;
        }
    }
    .gameZone{
    }
    .screen{
        width: 100%;
        margin: 0 auto;
        height: 60%;
        img{
            margin-top: 5%;
            max-width: 100%;
        }
        #characterImage, #backgroundImage{
            display: none;
        }
    }
    .textField {
        height: 40%;
        border-radius: 0px;
        flex-direction: column;
        p{  
            color: #98A2A8;
            font-size: 20px;
        }
        #rules{
            display: none;
            margin: 0;
            padding: 0;
        }
        #arrowBtn{
            font-size: 20px;
            margin-left: 70%;
            border: 2px solid;
        }
        .choices{
            #choice1, #choice2{
                font-size: 20px;
            } 
        }
        .pass{
            #pwrd, #pwinp{
                border: 2px solid;
            }
            #pwrd{
                width: 30%;
                font-size: 20px;
            }
            #pwinp{
                width: 70%;
                margin-bottom: 0;
            }
        }
        .fight{
            button{
                font-size: 18px;
            }
        }
    }

}
}