* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #98A2A8;
}

header{
    text-align:right;
    margin: 10px 10px 0 0;
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #262626;
    color: #333;
}

footer{
    text-align: center;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 1%;
    p{
        font-size: 12px;
    }
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .burger{
        text-decoration: none;
        font-size: 24px; 
        padding: 10px 20px;
        border-color: red;
        background-color: #111C1E;
        font-size: 28px;
        border-radius: 5px;
        cursor: pointer;
        
    }
    .indicator{
        display: flex;
        justify-content: space-between;
    }
    .circle1, .circle2, .circle3{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #41484E;
    }
    .circle1{
        background: #e65252;
    }
    .circle2{
        background: #dbdd68c7;
    }
    .circle3{
        background: #64da6a;
        box-shadow:0 0 25px #3eec3e;
    }
}

.burger_menu{
    display: none;
    position: absolute;
    right: 21.1%;
    z-index: 5;
    border: solid #41484E;
    background-color: #111C1E;
    width: 300px;
    text-align: right;
    .burger_content{
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        font-size: 22px;
        margin: 10px 15px 10px 0;
    }
}    

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #010B0C;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: solid #41484E;
    font-size: 24px;
    padding: 0 1% 0 1%;
}

.officer{
    display: flex;
    border: solid #41484E;
    background-color: #111C1E;
    justify-content: space-between;
    border-top:none;
    .leftoff{
        margin-left: 1%;
        font-size: 20px;
    }
    .rightoff{
        margin-right: 1%;
        p{
            font-size: 22px;
        }

    }
}

.task {
    display: flex;
    width: 100%;
    border: solid #41484E;
    border-top:none;
    justify-content: space-between;
    padding: 5px 10px 5px 5px;
    .taskleft{
        width: 45%;
        img{
            width: 100%;
        }
    }
    .taskright{
        font-size: 24px;
        width: 54%;
        h1{
            text-align: center;
        }
        h2{
            font-size: 27px;
        }
    }
}

.under{
    padding: 15px 15px 15px 15px;
    border: solid #41484E;
    border-top:none;
    font-size: 32px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #41484E;
    font-size: 18px;
    background-color: #111C1E;
}

button {
    padding: 10px 20px;
    background-color: #111C1E;
    font-size: 28px;
    color: #98A2A8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-size: 28px;
    color: #98A2A8;
}

.display{
    background-color: black;
    width: 100%;
    height: 500px;
    border: solid #41484E;
    border-top:none;
    text-align: center;
    button {
        background: none;
        font-size: 72px;
        margin-top: 170px;

    }
}

.gameZone{
    width: 100%;
    height: 100%;
    background-color: #353535;
    position: absolute;
    z-index: 5;
    top:0px;
    display: none;
    .screen{
        width: 80%;
        margin: 0 auto;
        height: 70%;
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        background-color: #262626;
        display: flex;
        justify-content: center;
        img{
            margin-top: 5%;
            width: auto;
            max-height: 80%;
        }
        #characterImage, #backgroundImage{
            display: none;
        }
    }
    .textField {
        width: 100%;
        height: 30%;
        background-color: #111C1E;
        padding: 5px 5% 20px 5%;
        margin-bottom: 20px;
        color: #98A2A8;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        flex-direction: column;
        p{  
            color: #98A2A8;
        }
        #rules{
            display: none;
            margin: 0;
            padding: 0;
        }
        #arrowBtn{
            width: 100px;
            font-size: 32px;
            height: 50px;
            margin-left: 98%;
        }
        .choices{
            display: flex;
            justify-content: space-between;
            #choice1, #choice2{
                background-color: #394f53;
                display: none;
                width: 49%;
                margin: 0% auto;
            } 
        }
        .pass{
            display: flex;
            justify-content: space-between;
            #pwrd, #pwinp{
                display: none;
                width: 49%;
            }
        }
        .fight{
            display: flex;
            justify-content: space-between;
            button{
                margin-bottom: 20px;
                width: 32%;
                border: 2px solid;
            }
            .counter{
                display: flex;
                justify-content: space-between;
                margin-bottom: 70px;
            }
        }
    }
    #dialogue {
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 90%; 
        white-space: pre-wrap;
    }

    .choice-btn {
        margin-top: 10px;
    }

    #combatButton {
        display: none;
        width: 120px;
        margin: 0 auto;
        height: 120px;
        border-radius: 50%;
        background-color: #ff0000;
        color: black;
        font-size: 32px;
    }

}

@media screen and (max-width: 980px) {
    .burger_menu{
        right: 10%;
    }
    .container {
        width: 90%;
    }
    .title{
        font-size: 12px;
    }
    .task {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .taskleft{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .taskright{
            font-size: 20px;
            width: 100%;
            h1{
                text-align: center;
            }
            h2{
                font-size: 24px;
            }
        }
    }
    .under{
        font-size: 24px;
    }
    button {
        font-size: 24px;
    }
    p {
        font-size: 24px;
    }
}